{
    "extends": [
        "react-app",
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:node/recommended",
        "plugin:lodash/recommended",
        "plugin:jest/recommended",
        "plugin:jest/style"
    ],
    "plugins": ["jest", "jsx-a11y", "lodash", "node", "prettier"],
    "rules": {
        "import/no-unresolved": "off",
        "lodash/prefer-constant": "off",
        "lodash/prefer-lodash-method": "off",
        "node/no-missing-require": "off",
        "node/no-unsupported-features/es-builtins": [
            "error",
            {
                "version": ">=8.0.0",
                "ignores": []
            }
        ],
        "node/no-unsupported-features/es-syntax": ["error", {
            "version": ">=8.0.0",
            "ignores": []
        }]
    }
}
